@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-size: 62.5%;

  /* Vars */
  --background-color: #f3f5fc;
  --background-output: #ffffff;

  --color-blue-100: #0a3871;
  --color-blue-200: #092e5c;

  --color-white-100: #ffffff;
  --color-white-200: #f3f5fc;

  --color-gray-100: #d8dfe8;
  --color-gray-200: #c2c8cf;
}

body {
  min-width: 320px;
  min-height: 100vh;

  overflow-x: hidden;
}

* {
  font-family: Inter;
}
